<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Subject</title>
</head>
<body>
    <div>
        <h1>Sayın @Model.ContactName,</h1>

        <p>
            Aşağıda bilgileri bulunan tekliflerin geçerlilik tarihi yaklaşmaktadır:
        </p>
        <p>
            <strong>Geçerlilik Tarihi:</strong> @Model.DocDueDate<br>
            <strong>TeklifNo:</strong> @Model.ReqQuoteNo
        </p>

        <p>
            <a href="@Model.ApplicationUrl">Sisteme Giriş Yap</a>
        </p>

        <p>
            İşbirliğiniz için teşekkür eder, iyi çalışmalar dileriz.
        </p>

        <p>
            Saygılarımızla<br>

        </p>
    </div>
</body>
</html>